<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ChitChat</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
</head>

<body>
	<main id="app">
		<div class="container">
			<div class="row main-container">
				<div class="col-lg-4">
					<section class="container-fluid h-100 form-container">
						<label for="nickname">Username</label>
						<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="Enter your username"> <!--v-model is from data object in main_vm.js-->
						<section class="contacts mt-4">
							<hr>
							<h3>Friends List</h3>
							<ul class="d-inline">
								<li>
									<img src="/images/contact1.png" alt="Contact 1">
									<span class="pl-2">Jane Ede</span>
									<span class="online float-right pt-3">Online</span>
								</li>
								<li class="mt-4">
									<img src="/images/contact2.png" alt="Contact 2">
									<span class="pl-2">Anne Smith</span>
									<span class="offline float-right pt-3">Offline</span>
								</li>
								<li class="mt-4">
									<img src="/images/contact3.png" alt="Contact 3">
									<span class="pl-2">John Though</span>
									<span class="online float-right pt-3">Online</span>
								</li>
								<li class="mt-4">
									<img src="/images/contact4.png" alt="Contact 3">
									<span class="pl-2">Zeus</span>
									<span class="offline float-right pt-3">Offline</span>
								</li>
							</ul>
						</section>
					</section>
				</div>
			
		
			
			<div class="col-lg-8 msg-area">
				<section class="logo">
					<h1>ChitChat!</h1>
				</section>
				<section class="messages" id="feedback">
					<ul id="messages">
						<!-- render a new message component for every message -->
						<newmessage v-for="message in messages" :msg="message"></newmessage>
					</ul>
				</section>
				<section class="type-box">
					<form>
						<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Say Hi!" id="message"></textarea>
						<button  @click.prevent="dispatchMessage" type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</section>
				<table class="emoji_div">
				
				</table>
			</div>
			

		</div>
	</div>
	
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	<script type="module" src="js/emoji.js"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>