.contacts img {
    width: 20%;
}

.contacts ul li {
    text-decoration: none;
}
.online {
    color: rgb(20, 189, 42);
    font-size: 16px;
}

.offline {
    color: rgb(138, 138, 138);
}

ul li {
    text-decoration: none;
}


ul {
    list-style: none;
}
