.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: 45%;
    padding: 8px 12px;
    background-color: #4776E6; 
    border-radius: 8px;
    margin-bottom: 1rem;
    color: white;
    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: #8E54E9;
    color: white;
}